# Data Collection

In [1]:
!pip install datasets

Requirement already satisfied: datasets in /usr/local/lib/python3.10/dist-packages (2.13.1)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from datasets) (1.22.4)
Requirement already satisfied: pyarrow>=8.0.0 in /usr/local/lib/python3.10/dist-packages (from datasets) (9.0.0)
Requirement already satisfied: dill<0.3.7,>=0.3.0 in /usr/local/lib/python3.10/dist-packages (from datasets) (0.3.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from datasets) (1.5.3)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.10/dist-packages (from datasets) (2.27.1)
Requirement already satisfied: tqdm>=4.62.1 in /usr/local/lib/python3.10/dist-packages (from datasets) (4.65.0)
Requirement already satisfied: xxhash in /usr/local/lib/python3.10/dist-packages (from datasets) (3.2.0)
Requirement already satisfied: multiprocess in /usr/local/lib/python3.10/dist-packages (from datasets) (0.70.14)
Requirement already satisfied: fsspec[http]>=2021.11.1 in /usr/local/lib/python3.10/dist-packages (from datasets) (2023.6.0)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from datasets) (3.8.4)
Requirement already satisfied: huggingface-hub<1.0.0,>=0.11.0 in /usr/local/lib/python3.10/dist-packages (from datasets) (0.16.4)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from datasets) (23.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from datasets) (6.0)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (23.1.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (2.0.12)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (1.3.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0.0,>=0.11.0->datasets) (3.12.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0.0,>=0.11.0->datasets) (4.6.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->datasets) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->datasets) (2023.5.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->datasets) (3.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->datasets) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->datasets) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->datasets) (1.16.0)

In [2]:
import pandas as pd
train_df = pd.read_excel('/content/drive/MyDrive/Gyanu.xlsx')  # change to pd.read_json for json files

train_df

,Article,Summary
0,Talk to someone who rode on the Titan submersi...,"Mike Reiss, a writer for “The Simpsons” televi..."
1,"Cairo, Egypt: Egyptian President Abdel Fattah ...",PM Modi Sunday visited the Heliopolis War Ceme...
2,Prime Minister Narendra Modi held a bilateral ...,"After completing his historic visit to the US,..."
3,Prime Minister Narendra Modi’s visit to Washin...,India considers Russia a time-tested ally from...
4,Amid the Wagner private military company’s ins...,Moscow Mayor Sergei Sobyanin asked the residen...
5,Indian-American Neal Katyal has been hailed as...,"Neal Katyal, who served as Acting Solicitor Ge..."
6,Prime Minister Narendra Modi’s recent historic...,PM Modi can be seen placing his palm in front ...
7,Prime Minister Narendra Modi recently made a p...,What is Uniform Civil Code and how it will imp...
8,Prime Minister Narendra Modi flagged off five ...,Prime Minister Narendra Modi shared a special ...
9,Prime Minister Narendra Modi on Wednesday cong...,India finished their campaign with 202 medals ...
10,The ICC ODI World Cup 2023 schedule was made o...,"As per the SOP, the Pakistan Cricket Board (PC..."
11,Canada introduced a new strategy to attract di...,"Under the digital nomad strategy, a tech worke..."
12,A British man allegedly died trying to win a d...,A British man allegedly died after trying to d...
13,Indians account for a large part of visa appli...,"Anuj Christian, an Indian living in the US for..."
14,Scientists have claimed to have discovered a n...,"Typically, planets face catastrophe when their..."
15,A 49-year-old Indian-origin man was sentenced ...,"Rajinder Pal Singh, aka Jaspal Gill, pleaded g..."
16,Donald Trump has announced a new campaign prop...,The announcement was reminiscent of Trump’s ba...
17,United States Ambassador to India Eric Garcett...,During his interaction with the Indian communi...
18,A 34-year-old Indian-origin man admitted to fr...,"The court heard that for over four years, Satw..."
19,Canada has announced the creation of an open w...,H-1B visas allow foreign nationals to temporar...
20,As South Korea adopts a new law to the interna...,South Koreans are usually referred to as one t...
21,Sri Lankan President Ranil Wickremesinghe reit...,The President went on to say that the Chinese ...
22,An Indian-origin man who allegedly drove wrong...,One of the victims was a nationally ranked ten...
23,International students in Australia are frustr...,The Australian government's Department of Home...
24,"An intersection of roads in New York, US has b...",The intersection of 61st Street and Broadway i...
25,New York City will add the festival of Diwali ...,Mayor Adams said that the moment represented a...
26,Air France has said its flight from Paris to T...,Air France said it sincerely regrets the incon...
27,While Prime Minister Narendra Modi successfull...,The finance minister lashed out at the former ...
28,After failing to achieve a high score on China...,"Notably, Liang has achieved success in his lif..."
29,At least 13 people were killed in suspected Ru...,The airstrike targeted a busy fruit and vegeta...
30,"Prime Minister Narendra Modi, who is currently...","In a video shared by news agency ANI, PM Modi ..."
31,From the rise of the former KGB officer to the...,"On February 24, 2022, Russian President Vladim..."
32,Once a low-profile businessman to benefit from...,Russia's large-scale war in Ukraine has pushed...
33,Prime Minister Narendra Modi arrived here on S...,PM Modi will call on Egypt's grand mufti Dr Sh...
34,The wrecks of the Titanic and the Titan sit on...,"The Polar Prince, a Canadian icebreaker ship, ..."
35,Russian President Vladimir Putin on Saturday v...,Russian President Vladimir Putin vowed to defe...
36,E-commerce giant Amazon plans to invest USD 15...,After meeting Prime Minister Narendra Modi in ...
37,Prime Minister Narendra Modi announced during ...,The significant decision will help thousands o...
38,The owner of the Wagner private military contr...,Prigozhin said his troops would punish Shoigu ...
39,A Sikh man was shot dead by unidentified gunme...,A day earlier another Sikh man was shot and in...

In [3]:
train_df.columns = train_df.columns.str.strip()

In [4]:
train_df.columns

Index(['Article', 'Summary'], dtype='object')

# Data Preprocessing

In [5]:
import re


def clean_text(text):
    text = re.sub(r'\n',' ', text)  # remove newline character
    text = re.sub(r'\s+', ' ', text)  # replace multiple spaces with one
    return text.strip()

In [6]:
train_df['Article'] = train_df['Article'].apply(clean_text)
train_df['Summary'] = train_df['Summary'].apply(clean_text)

# Tokenization

In [7]:
!pip install transformers


from transformers import BartTokenizer

Requirement already satisfied: transformers in /usr/local/lib/python3.10/dist-packages (4.30.2)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from transformers) (3.12.2)
Requirement already satisfied: huggingface-hub<1.0,>=0.14.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.16.4)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from transformers) (23.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (6.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (2022.10.31)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from transformers) (2.27.1)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.13.3)
Requirement already satisfied: safetensors>=0.3.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.3.1)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.10/dist-packages (from transformers) (4.65.0)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.14.1->transformers) (2023.6.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.14.1->transformers) (4.6.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (3.4)

In [8]:
tokenizer = BartTokenizer.from_pretrained('facebook/bart-large')

In [9]:
def tokenize_data(example):
    # Tokenize the article and summary
    inputs = tokenizer(example['Article'], truncation=True, padding='max_length', max_length=250)
    outputs = tokenizer(example['Summary'], truncation=True, padding='max_length', max_length=250)


    # Return the inputs and the labels (the tokenized summary ids)
    return pd.Series({**inputs, 'labels': outputs.input_ids})

In [10]:
train_df = train_df.apply(lambda row: tokenize_data(row), axis=1)

In [11]:
pd.DataFrame(train_df)

,input_ids,attention_mask,labels
0,"[0, 27743, 7, 951, 54, 12783, 15, 5, 23308, 28...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 15827, 1223, 3006, 6, 10, 3331, 13, 44, 48..."
1,"[0, 347, 14387, 6, 5028, 35, 10377, 270, 18392...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 5683, 4698, 395, 3790, 5, 6851, 28119, 256..."
2,"[0, 25973, 692, 9975, 4698, 547, 10, 9526, 529...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 4993, 8796, 39, 3575, 825, 7, 5, 382, 6, 2..."
3,"[0, 25973, 692, 9975, 4698, 17, 27, 29, 825, 7...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 11015, 9857, 798, 10, 86, 12, 33882, 7564,..."
4,"[0, 42332, 5, 11634, 940, 831, 138, 17, 27, 29...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 41384, 3129, 15458, 21055, 7010, 179, 553,..."
5,"[0, 25767, 12, 4310, 15454, 17454, 337, 34, 57...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 28138, 17454, 337, 6, 54, 1665, 25, 13711,..."
6,"[0, 25973, 692, 9975, 4698, 17, 27, 29, 485, 3...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 5683, 4698, 64, 28, 450, 9405, 39, 14262, ..."
7,"[0, 25973, 692, 9975, 4698, 682, 156, 10, 3242...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 2264, 16, 39555, 5280, 8302, 8, 141, 24, 4..."
8,"[0, 25973, 692, 9975, 4698, 17253, 160, 292, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 25973, 692, 9975, 4698, 1373, 10, 780, 115..."
9,"[0, 25973, 692, 9975, 4698, 15, 307, 19412, 13...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 11015, 1550, 49, 637, 19, 22991, 10214, 36..."
10,"[0, 133, 14305, 384, 10063, 623, 968, 291, 192...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1620, 228, 5, 208, 5733, 6, 5, 1752, 10424..."
11,"[0, 14031, 2942, 10, 92, 1860, 7, 5696, 1778, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 17245, 5, 1778, 22693, 625, 1860, 6, 10, 2..."
12,"[0, 250, 1089, 313, 2346, 962, 667, 7, 339, 10...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 250, 1089, 313, 2346, 962, 71, 667, 7, 407..."
13,"[0, 15248, 2071, 1316, 13, 10, 739, 233, 9, 89...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 4688, 11591, 2412, 6, 41, 1362, 1207, 11, ..."
14,"[0, 40816, 33, 1695, 7, 33, 2967, 10, 92, 5518...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 43095, 6, 18979, 652, 21421, 77, 49, 2690,..."
15,"[0, 250, 2766, 12, 180, 12, 279, 1362, 12, 432...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 500, 1176, 7026, 4677, 3657, 6, 19056, 344..."
16,"[0, 19195, 140, 34, 585, 10, 92, 637, 2570, 15...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 133, 2443, 21, 20455, 9, 140, 17, 27, 29, ..."
17,"[0, 20556, 532, 9175, 7, 666, 2954, 27908, 132...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 14229, 39, 10405, 19, 5, 1362, 435, 11, 5,..."
18,"[0, 250, 2631, 12, 180, 12, 279, 1362, 12, 432...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 133, 461, 1317, 14, 13, 81, 237, 107, 6, 8..."
19,"[0, 14031, 34, 585, 5, 5012, 9, 41, 490, 173, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 725, 12, 134, 387, 13570, 1157, 1093, 1243..."
20,"[0, 1620, 391, 1101, 25298, 1872, 10, 92, 488,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 10050, 16818, 32, 2333, 4997, 7, 25, 65, 7..."
21,"[0, 104, 1069, 18499, 260, 270, 9462, 718, 180...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 133, 270, 439, 15, 7, 224, 14, 5, 1111, 33..."
22,"[0, 4688, 1362, 12, 43211, 313, 54, 2346, 4024...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 3762, 9, 5, 1680, 21, 10, 9852, 4173, 5919..."
23,"[0, 29743, 521, 11, 1221, 32, 8164, 25, 51, 32...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 133, 2059, 168, 18, 641, 9, 2193, 4702, 14..."
24,"[0, 4688, 8088, 9, 3197, 11, 188, 469, 6, 382,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 133, 8088, 9, 5659, 620, 852, 8, 7099, 11,..."
25,"[0, 4030, 469, 412, 40, 1606, 5, 3241, 9, 3643...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 36652, 5710, 26, 14, 5, 1151, 4625, 10, 16..."
26,"[0, 17906, 1470, 34, 26, 63, 2524, 31, 2201, 7...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 17906, 1470, 26, 24, 24740, 19078, 5, 2410..."
27,"[0, 5771, 1489, 692, 9975, 4698, 5116, 2121, 3...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 133, 2879, 1269, 21569, 66, 23, 5, 320, 38..."
28,"[0, 4993, 4551, 7, 3042, 10, 239, 1471, 15, 43...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 7199, 4735, 6, 38400, 34, 4824, 1282, 11, ..."
29,"[0, 3750, 513, 508, 82, 58, 848, 11, 3986, 108...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 133, 33949, 3656, 10, 3610, 6231, 8, 16090..."
30,"[0, 25973, 692, 9975, 4698, 6, 54, 16, 855, 15...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1121, 10, 569, 1373, 30, 340, 1218, 5102, ..."
31,"[0, 7605, 5, 1430, 9, 5, 320, 38077, 1036, 7, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 4148, 902, 706, 6, 8157, 6, 1083, 270, 654..."
32,"[0, 11475, 10, 614, 12, 7221, 8950, 7, 1796, 3...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 15685, 18, 739, 12, 8056, 997, 11, 4174, 3..."
33,"[0, 25973, 692, 9975, 4698, 2035, 259, 15, 378...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 5683, 4698, 40, 486, 15, 5028, 18, 2821, 1..."
34,"[0, 133, 21679, 15291, 9, 5, 33368, 8, 5, 2330...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 133, 26279, 2804, 6, 10, 1563, 2480, 19759..."
35,"[0, 14836, 270, 6546, 3176, 15, 378, 7588, 7, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 14836, 270, 6546, 3176, 7588, 7, 4538, 5, ..."
36,"[0, 717, 12, 8342, 3065, 1645, 708, 7, 3754, 6...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 4993, 529, 1489, 692, 9975, 4698, 11, 5, 3..."
37,"[0, 25973, 692, 9975, 4698, 585, 148, 39, 2200...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 133, 1233, 568, 40, 244, 1583, 9, 1362, 51..."
38,"[0, 133, 1945, 9, 5, 11634, 940, 831, 9254, 15...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 510, 7638, 3979, 11040, 26, 39, 3517, 74, ..."
39,"[0, 250, 24842, 313, 21, 738, 1462, 30, 13551,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 250, 183, 656, 277, 24842, 313, 21, 738, 8..."

In [12]:
from datasets import load_dataset,Dataset

train_dataset = Dataset.from_pandas(train_df)

# Setting up the model and the training loops

In [13]:
from transformers import BartForConditionalGeneration

# Load pre-trained model
model = BartForConditionalGeneration.from_pretrained('facebook/bart-large')

In [14]:
# Defining the training arguments

!pip install accelerate -U

from transformers import TrainingArguments

# Define training arguments
training_args = TrainingArguments(
    output_dir=r'/content/drive/MyDrive/results',           # output directory for model predictions and checkpoints
    num_train_epochs=10,               # total number of training epochs
    per_device_train_batch_size=5,   # batch size per device during training
    weight_decay=0.01,                # strength of weight decay
)

Requirement already satisfied: accelerate in /usr/local/lib/python3.10/dist-packages (0.20.3)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from accelerate) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from accelerate) (23.1)
Requirement already satisfied: psutil in /usr/local/lib/python3.10/dist-packages (from accelerate) (5.9.5)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from accelerate) (6.0)
Requirement already satisfied: torch>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from accelerate) (2.0.1+cu118)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->accelerate) (3.12.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->accelerate) (4.6.3)
Requirement already satisfied: sympy in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->accelerate) (1.11.1)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->accelerate) (3.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->accelerate) (3.1.2)
Requirement already satisfied: triton==2.0.0 in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->accelerate) (2.0.0)
Requirement already satisfied: cmake in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch>=1.6.0->accelerate) (3.25.2)
Requirement already satisfied: lit in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch>=1.6.0->accelerate) (16.0.6)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->torch>=1.6.0->accelerate) (2.1.3)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.10/dist-packages (from sympy->torch>=1.6.0->accelerate) (1.3.0)

In [15]:
from transformers import Trainer

# Create trainer
trainer = Trainer(
    model=model,                         # the instantiated 🤗 Transformers model to be trained
    args=training_args,                  # training arguments, defined above
    train_dataset=train_dataset,         # training dataset
)

In [16]:
# Train the model

trainer.train()

/usr/local/lib/python3.10/dist-packages/transformers/optimization.py:411: FutureWarning: This implementation of AdamW is deprecated and will be removed in a future version. Use the PyTorch implementation torch.optim.AdamW instead, or set `no_deprecation_warning=True` to disable this warning
  warnings.warn(

TrainOutput(global_step=80, training_loss=6.3993793487548825, metrics={'train_runtime': 91.1039, 'train_samples_per_second': 4.391, 'train_steps_per_second': 0.878, 'total_flos': 211631308800000.0, 'train_loss': 6.3993793487548825, 'epoch': 10.0})

In [17]:
# Save model
trainer.save_model("/content/drive/MyDrive/my_model")

# Evaluation

In [18]:
column_names = ["Article", "Summary"]



val_df = pd.read_excel(r"/content/drive/MyDrive/Evaluation_abhi.xlsx", sheet_name='Sheet2', header=None, names=column_names)
val_df

,Article,Summary
0,When we hear or read the term ‘world’s deadlie...,This creature is smaller than your nail and we...
1,While the 20s is regarded as the decade of has...,"Cici Zhang, a 32-year-old woman, was told by h..."
2,"The day between July 4 and Monday, July 3, acc...",It's a death sentence for people and ecosystem...
3,Leaders of the Shanghai Cooperation Organisati...,Both Putin and Xi are expected to visit New De...
4,"The Taliban has in a new verbal decree, banned...",The Taliban Ministry of Vice and Virtue ordere...
5,Prize-winning Ukrainian writer Victoria Amelin...,At least 11 others were killed and 61 were wou...
6,When we hear or read the term ‘world’s deadlie...,This creature is smaller than your nail and we...
7,Venezuelan’s enthusiasm for beauty pageants is...,he influencer and Instagram model has applied ...
8,A Tunisian man who had been charged with the m...,"Sabita Thanwani, 19, was found under the sheet..."
9,New York City has been overrun by a swarm of t...,Videos shared on social media platforms depict...
10,Elon Musk on Saturday announced temporary limi...,Elon Musk stated that verified accounts are li...

In [19]:
val_df['Article'] = val_df['Article'].apply(clean_text)
val_df['Summary'] = val_df['Summary'].apply(clean_text)

In [20]:
val_df = val_df.apply(lambda row: tokenize_data(row), axis=1)

In [21]:
val_dataset = Dataset.from_pandas(val_df)

In [22]:
# Evaluate the model on the unseen data
eval_results = trainer.evaluate(val_dataset)

In [23]:
# Access the evaluation loss
eval_loss = eval_results["eval_loss"]

In [24]:
eval_loss

3.9554550647735596

In [25]:
from transformers import pipeline


input_texts=['''The wedding season in the entertainment industry is in full swing. After Parineeti Chopra-Raghav Chadha’s engagement ceremony and Sunny Deol’s son Karan Deol’s wedding with Drisha Acharya, television industry celebs are also commencing the journey of companionship. Sreejita De, who has been in the news for quite some time ever since her stint at Bigg Boss 16 hosted by Salman Khan also decided to get hitched. She has been dating her German beau Michael Blohm-Pape for quite some time and the couple had been serious for taking their relationship forward.''']


# Load the trained model
model = BartForConditionalGeneration.from_pretrained('/content/drive/MyDrive/my_model')

# Load the tokenizer
tokenizer = BartTokenizer.from_pretrained('facebook/bart-large')

# Create a summarization pipeline
summarizer = pipeline('summarization', model=model, tokenizer=tokenizer, device=0) # device=0 for using GPU, if available

# Define the generation hyperparameters
gen_config = {
    'max_length': 512,
    'num_beams': 4,
    'early_stopping': True,
}

# You can now use this summarizer on your input text
for text in input_texts:
    print(summarizer(text, **gen_config))

Your max_length is set to 512, but your input_length is only 134. Since this is a summarization task, where outputs shorter than the input are typically wanted, you might consider decreasing max_length manually, e.g. summarizer('...', max_length=67)

[{'summary_text': "The wedding season in the entertainment industry is in full swing. After Parineeti Chopra-Raghav Chadha’s engagement ceremony and Sunny Deol's son Karan Deela's wedding with Drisha Acharya, television industry celebs are also commencing the journey of companionship. Sreejita De, who has been in the news for quite some time ever since her stint at Bigg Boss 16 hosted by Salman Khan, decided to get hitched."}]